MISTRAL_API_KEY=
HF_API_KEY=
LLM_VALID_MODELS= ["ministral-14b-latest","ministral-3b-latest","ministral-8b-latest"]
LLM_DEEPSEEK_API_KEY=
LLM_CLAUDE_API_KEY=
LLM_GEMINI_API_KEY=
LLM_LLAMA_API_KEY=
LLM_GITHUB_API_KEY=
LLM_OPENROUTER_API_KEY=
LLM_KIMI_API_KEY=
LLM_MODEL_CURRENT_NAME=
LLM_MODEL_CURRENT_TEMPERATURE=0.1